a[href]{
  color: rgb(255, 200, 0);
}
a[href]:hover{
  color: rgb(134, 110, 21);
}
#root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#phaser-parent {
  position: fixed;
  top: 0px;
  left: 0px;
}
.Header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #000;
  text-align: left;
  border-bottom: 2px rgb(70, 68, 67) solid;
}
.Header a[href]:link,
.Header a[href]:visited,
.Header a[href]:active {
  color: white;
  text-decoration: none;
}
.Header a[href]:hover {
  color: rgb(255, 200, 0);
  text-decoration: none;
}
.Header__selected{
  color: rgb(255, 200, 0);
  font-weight: bold;
}
.Header__left {
  padding-left: 16px;
}
.Header__right {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right: 16px;
  margin-bottom: 16px;
}
.Panel__left{
  overflow-x: hidden;
  background-color: #000;
  position:absolute;
  padding:16px;
  padding-top:54px;
  top:0px;
  left:0px;
  max-width:400px;
  border-right: 2px rgb(70, 68, 67) solid;
  border-bottom: 2px rgb(70, 68, 67) solid;
}
.Panel__right{
  overflow-x: hidden;
  background-color: #000;
  position:absolute;
  padding:16px;
  padding-top:54px;
  top:0px;
  right:0px;
  max-width:400px;
  border-left: 2px rgb(70, 68, 67) solid;
  border-bottom: 2px rgb(70, 68, 67) solid;
}
.CloseBtn{
  position:absolute;
  top:0px;
  padding:8px;
  padding-top:54px;
  padding-bottom:4px;
  right:0px;
  color:rgb(255, 200, 0);
  border-left: 2px rgb(70, 68, 67) solid;
  border-bottom: 2px rgb(70, 68, 67) solid;
}
.Card {
  color: #ffffff;
  margin-bottom: 16px;
}
.Card__img {
  max-width: 200px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .Header {
    height: 84px;
  }
  .Header__right {
    margin-top: 48px;
  }
  .Panel__left {
    margin-top: 32px;
  }
  .Panel__right {
    margin-top: 32px;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .Header {
    height: 54px;
  }
  .Header__right {
    margin-top: 16px;
  }
  .Panel__left {
    margin-top: 0px;
  }
  .Panel__right {
    margin-top: 0px;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

.fade-in { animation: fadeIn 0.4s ease-out 0.4s both;  }
.slide-in-left { animation: slideInLeft 0.4s ease-out 0.4s both; }
.slide-in-right { animation: slideInRight 0.4s ease-out 0.4s both; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes slideInRight {
  0% { transform: translateX(-100%); }
  100% {transform: translateX(0%); }
}
@keyframes slideInLeft {
  0% { transform: translateX(100%); }
  100% {transform: translateX(0%); }
}